{% extends 'ZentriumCoreBundle::layout.html.twig' %}
{% form_theme form 'ZentriumCoreBundle::form.html.twig' %}

{% block title %}{{ 'zentrium_log.layout.log'|trans }}{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">«{{ label.name }}» bearbeiten</h3>
  </div>
  <div class="box-body">
    {{ form(form) }}
  </div>
</div>
{% endblock %}
