{% extends 'ZentriumCoreBundle::layout.html.twig' %}
{% form_theme form 'ZentriumCoreBundle::form.html.twig' %}

{% block title %}{{ task.name }} - {{ 'zentrium_schedule.layout.tasks'|trans }}{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">{{ 'zentrium_schedule.task.edit.title'|trans }}</h3>
  </div>
  <div class="box-body">
    {{ form(form) }}
  </div>
</div>
{% endblock %}
