<html>
<head>
    <style>
        @media print {
            @page {
                size: 6.2cm 2.9cm landscape;
            }

            span {
                margin: 8mm 2mm 2mm 2mm;
            }
        }

        div * {
            display: none;
        }

        span#content {
            display: block;
            text-align: center;
            top: 50%;
            font-size: 13pt;
            font-weight: bold;
        }
    </style>
</head>
<body>
{% for i in 0..1 %}
    <span id="content" {% if i == 0 %}style="page-break-after: always;"{% endif %}>
    <span>{{ firstname }}, {{ lastname }}</span>
    <span>
        {% for group in groups %}
            {{ group.shortName }}
        {% endfor %}
    </span>
</span>
{% endfor %}
</body>
</html>