/app/config/parameters.yml
/build/
node_modules/
/.php_cs
/.php_cs.cache
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/build/
/web/bundles/
/web/js/translations/
/.idea