{% extends "VkafOafBundle:Kiosk:slide.html.twig" %}

{% block content %}
<div class="box box-primary kiosk-welcome">
  <div class="box-body">
    <h1>{{ message|default('vkaf_oaf.kiosk.welcome'|trans)|nl2br }}</h1>
  </div>
</div>
{% endblock %}
