{% extends "ZentriumCoreBundle:Security:login.html.twig" %}

{% block title %}{{ 'zentrium.security.password_reset.request'|trans }}{% endblock %}

{% block content %}
<p class="login-box-msg">{{ 'zentrium.security.password_reset.sent'|trans }}</p>
{% endblock %}
