{% extends 'ZentriumCoreBundle::layout.html.twig' %}
{% form_theme form 'ZentriumCoreBundle::form.html.twig' %}

{% block title_full %}{{ 'zentrium_schedule.schedule.copy.title'|trans }} - {{ 'zentrium_schedule.layout.schedule'|trans }}{% endblock %}
{% block title %}{{ 'zentrium_schedule.schedule.copy.title'|trans }}{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-body">
    {{ form(form) }}
  </div>
</div>
{% endblock %}
