{% extends 'ZentriumTimesheetBundle::layout.html.twig' %}
{% form_theme form 'ZentriumCoreBundle::form.html.twig' %}

{% block title_full %}{{ 'zentrium_timesheet.export.title'|trans }} - {{ 'zentrium_timesheet.layout.timesheet'|trans }}{% endblock %}
{% block title %}{{ 'zentrium_timesheet.export.title'|trans }}{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-body">
    {{ form(form) }}
  </div>
</div>
{% endblock %}
