{% set alertIcons = {'success': 'check', 'warning': 'warning', 'info': 'info'} %}
{% for type, flashes in app.session.flashbag.all %}
  {% for flash in flashes %}
  <div class="alert alert-{{ type }} alert-dismissible">
    <button data-dismiss="alert" class="close" type="button">×</button>
    {% if alertIcons[type] is defined %}<i class="icon fa fa-{{ alertIcons[type] }}"></i>{% endif %}
    {{ flash|trans }}
  </div>
  {% endfor %}
{% endfor %}
