{% extends 'ZentriumCoreBundle::layoutViewer.html.twig' %}
{% form_theme form 'ZentriumCoreBundle::form.html.twig' %}

{% block title %}{{ 'zentrium.viewer.change_password.title'|trans }}{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-body">
    {{ form(form) }}
  </div>
</div>
{% endblock %}
