@operation-bg: rgba(255, 255, 255, 0.15);

@keyframes schedule-operation-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.schedule-operation-pending, .schedule-operation-failed {
    background-image: linear-gradient(45deg, @operation-bg 25%, transparent 25%, transparent 50%, @operation-bg 50%, @operation-bg 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.schedule-operation-pending {
    animation: 1s linear 0s normal none infinite running schedule-operation-stripes;
}

.box-body > .fc {
    background: #fff;
}

.fc-body .fc-resource-area .fc-cell-content {
    padding-top: 4px;
    padding-bottom: 4px;
}

.fc-time-area .fc-slats .schedule-slat-quarter {
    border-left-color: #aaa;
}

.fc-time-area .fc-slats .schedule-slat-day {
    border-left-width: 2px;
}

.fc-now-indicator {
    border-color: #3c8dbc;

    .fc-body & {
        z-index: 0;
    }
}

table.schedule-users {
    .col-user-notes {
        width: 20%;
    }
}

.schedule-column-actions {
    display: inline-block;
    float: right;
    position: relative;
    background: white;
    margin: -4px;
    padding: 4px 8px 4px 4px;

    > a, > .label {
        margin-left: 4px;
    }

    > .label + a {
        margin-left: 8px;
    }
}

.schedule-validate-loading, .schedule-validate-success {
    padding: 40px 0;
    font-size: 130%;
    text-align: center;
    display: none;
}

.schedule-validate-loading .fa {
    font-size: 200%;
}

.schedule-validate-success .fa {
    color: #008D4C;
    font-size: 300%;
}

.schedule-validate-message {
    position: relative;
    padding-left: 45px;
}

.schedule-validate-icon {
    position: absolute;
    left: 15px;
    width: 15px;
    text-align: center;
    top: 0;
    bottom: 0;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .fa {
        display: inline-block;
        vertical-align: middle;
    }
}

.schedule-validate-details {
    font-size: 90%;
    display: block;
}

.schedule-constraint-type-description {
    font-size: 90%;
    display: block;
}

.requirement-set-statistics {
    .total {
        font-weight: bold;
    }
}
