{% extends 'VkafOafBundle:Terminal:app.html.twig' %}

{% block body %}
<div class="terminal-wrapper">
  <div class="terminal-header">
    <h1>{{ 'vkaf_oaf.terminal.app.title'|trans }}</h1>
  </div>
  <div class="terminal-body">
    <p>{{ 'vkaf_oaf.terminal.app.unauthorized'|trans }}</p>
  </div>
</div>
{% endblock %}
