.kiosk-page {
    background: #ecf0f5;

    > .wrapper {
        padding: 10vh;

        > .box:last-child {
            margin-bottom: 0;
        }
    }
}

.kiosk-page-full > .wrapper {
    padding: 2vh;
}

.kiosk-refresh {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0.5vh;
    background-color: #d2d6de;
    transition: width 1s linear;
}

.kiosk-welcome {
    .box-body {
        padding: 10vh;
    }

    h1 {
        font-size: 8vh;
        line-height: 16vh;
        text-align: center;
    }
}

.kiosk-message {
    width: 40vw;
    margin: 15vh auto;
    padding: 5vh;

    h4 {
        font-size: 4vh;
        margin-bottom: 0;
        text-align: center;
    }
}

.kiosk-schedule {
    .kiosk-schedule-left, .kiosk-schedule-right {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }

    .kiosk-schedule-right {
        border-left: 1px solid #aaa;
    }
}

.kiosk-schedule-list {
    table {
        table-layout: fixed;
    }

    th:nth-child(2n+1) {
        width: 20ch;
    }

    td {
        overflow: hidden;
        white-space: nowrap;
        position: relative;

        &:after {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 5ch;
            content: '';
        }
    }

    tr:nth-child(even) td:after {
        background: linear-gradient(to right, fade(#ffffff, 0%) 0%, #ffffff 75%);
    }

    tr:nth-child(odd) td:after {
        background: linear-gradient(to right, fade(#f9f9f9, 0%) 0%, #f9f9f9 75%);
    }

    .label + .label {
        margin-left: 0.6em;
    }
}
