.log-entry-header .box-header .label {
    vertical-align: 20%;
}

.log-entry-header .box-header h3 + .label {
    margin-left: 10px;
}

.log-entry-header .box-header p {
    margin: 10px 0 0 0;
}

.log-entry-meta {
    color: #999;
    float: right;
    font-size: 12px;
}

.col-status {
    width: 20px;
}
